.header {
	background: url(../img/bg_header.png) 500px 200px / 60%no-repeat;
}
.container {}
.header__menu {}
.header__menu-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	height: 200px;
	-ms-align-items: center;
	align-items: center;
}
.header__block {}
.header__block:first-child{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.header__logo {}
.header__list {
	padding-left: 50px;
}
.header__list ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.header__list ul li a{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	margin-left: 20px;
	color: #4B5D68;
	position: relative;
}
.header__list ul li a:after{
	content: "";
	position: absolute;
	width: 0;
	height: 1px;
	background-color: #4B5D68;
	bottom: -5px;
	left: 0;
	transition: all 0.5s ease 0s; 
}
.header__list ul li a:hover:after{
	width: 100%;
}
.header__btn {}
.header__btn button{
	width: 210px;
	height: 60px;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	transition: all 0.2s ease 0s;
}
.header__btn button:hover{
	transform: scale(1.1, 1.1);
}
.header__btn button p{
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 160%;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.005em;
	color: #212353;
	position: relative;
}
.header__btn button p:after{
	position: absolute;
	content: "";
	background: url(../img/arrow.png) 0 0 no-repeat;
	height: 50px;
	width: 50px;
	bottom: -30px;
	left: 178px;
}

.header__burger{
	display: none;
}

.main__header {}
.container {}
.main__header-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.main__header-block {}
.header__body {
	height: 464px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}
.header__title {
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	line-height: 110%;
	color: #212353;
	width: 645px;
}
.header__text {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	max-width: 380px;
	color: #4B5D68;
}
.main__header-btn {}
.main__header-btn button{
	width: 170px;
	height: 60px;
	background: #9C69E2;
	border-radius: 50px;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 160%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	position: relative;
}
.main__header-btn button:after{
	position: absolute;
	content: "";
	background: url(../img/arrow.png) 0 0 no-repeat;
	width: 50px;
	height: 50px;
	bottom: 0;
	left: 0;
}
.main__header-img {

}



@media(max-width: 768px) {
	body.lock{
		overflow: hidden;
	}
	.main__header.active{
		opacity: 0;
	}
	.header__body{
		justify-content: space-around;
	}
	.header{
		background: none;
	}
	.header__title{
		max-width: 500px;
		font-size: 50px;
		padding-left: 25px;
	}
	.header__text{
		padding-left: 25px;
	}
	.main__header-btn{
		padding-left: 25px;
	}
	.header__burger{
		display: block;
		padding-right: 10px;
	}
	.header__logo{
		padding-left: 10px;
	}
	.header__list{
		position: absolute;
		top: -100%;
		left: 2%;
		transition: all 1s ease 0s;
	}
	.header__list.active{
		top: 20%;
	}
	.header__list ul{
		display: block;
	}
	.header__list ul li a{
		display: block;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.header__btn button{
		width: 150px;
		height: 35px;
	}
}
@media(max-width: 505px) {
	.header__title{
		font-size: 30px;
		max-width: 320px;
	}
}
@media(max-width: 390px) {
	.header__text{
		padding-right: 20px;
	}
}